img {
    height: 84px;
}
.title-app {
    margin: 0;
    position: absolute;
    top: 5%;
    width: 50%;
    left: 0px;
    background-color: #607d8b;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}
.pull-left{
    float:left;
}
.pull-right{
    float: right;
}
.small {
    font-size: .7em;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
.navbar, .toolbar, .subnavbar {
    background: #808080;
}

.picker-modal {
    height: 100%;
    width: 100%;
    top: 0% !important;
    left: 0% !important;
    -webkit-box-shadow: 1px 11px 34px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 11px 34px -5px rgba(0,0,0,0.75);
    box-shadow: 1px 11px 34px -5px rgba(0,0,0,0.75);
}
.custom-bg {
    background-color: $bg-color;
    color: $color;
    padding-top: $padding-to!important;

}

.content-block {
    margin: 0;

    .list-resume-info {
        margin-left: -20px;
        background-color: #fbfbfb;
        margin-right: -20px;
        border-bottom: solid 1px #ccc;
        border-top: solid 1px #ccc;
        padding: 20px;

        span {
            display: block;

            &.value {
                font-weight: bold;
                font-size: 1em;
                padding-bottom: 10px;
            }

            &.title {
                font-size: .9em;
                opacity: .6;
            }
        }
    }
}

.title-block {
    text-align: center;
    font-size: 90%;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;

    .close-btn {
        
        position: absolute;
        font-size: 1.5em;
        right: -25px;
        padding: 10px;
        line-height: 2;
        width: 50px;
        top: -25px;
        opacity: .6;
        
        height: 50px;
    }
}

.title-block h3 {
    font-size: 1.5em;
    margin: 20px 0 0 0;
}

.title-block p {
    font-weight: bold;
    margin: 0;
}


.custom-btn {
    border-radius: 100px;
    background-color: #d1ddea;
    color: $btn-color;
    font-weight: bold;
    box-shadow: none;
    height: 42px;
    line-height: 42px;

    &.red {
        background-color: #ff4a4a;
        color: #fff !important;
    }

    &.active {
        background-color: #5fc532;
        color: #fff !important;
    }
}
.icon-center {
    text-align: center; 
    margin: 20px 0 40px 0;

    span {
        font-size: 6em;
        line-height: 1;
    }

    small {
        line-height: 1;
        display: inline-block;
    }
}
.icons-list {
    ul {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
            text-align: center;
            padding: 10px 5px;
            float: left;
            width: 30%;

            .icon {
                color: #ff4a4a;
                font-size: 2em;
                margin-right: 5px;
                line-height: 2;
                vertical-align: middle;
            }

            .value {
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }
}
.searchbar {
    top: 100px!important;
    input{
        border-bottom:none!important;
    }
}