
.list-form {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.list-form ul::before {
    background-color: transparent;
}

.item-input-field:after, .input-field:after {
    background-color: black;
}

.list-block {
    margin-bottom: 0;

    &.dotted {
        ul > li{
        box-sizing: border-box;
        position: relative;
        border-bottom: dotted 1px;
        margin-bottom: 10px;
        }
    }
}

.list-block .label, .list-block .list-block .floating-label {
    font-weight: bold;
}

.list-block .item-content {
    margin-bottom: 5px;

    &.inlineX2 {
        display:inline-block;
        width:49%;
    }
}
.item-inner {
    p {
        border-bottom: solid 1px;
        margin-top: 5px;
        min-height: 25px;
    }
}
.check-term .item-inner {
    margin-left: 0 !important;
    line-height: 2;

   
}
